<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Machine Learning - 2301CS621</b></center>
<center><b><h1>Lab - 1</b></center>
<p>Name: BHADRA MOHITKUMAR AJAY</p>
<p>Enrollment: 23010101605</p>    
<pre>

## Step 1. Import the necessary libraries

In [1]:
import pandas as pd

## Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, sep="\t")

### Step 4. See the first 10 entries

In [3]:
print(chipo.head(10))

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

### Step 5. What is the number of observations in the dataset?

In [6]:
print("Number of observations:: ", chipo.shape[0])

Number of observations::  4622

### Step 6. What is the number of columns in the dataset?

In [7]:
print("Number of columns:: ", chipo.shape[1])

Number of columns::  5

### Step 7. Print the name of all the columns.

In [8]:
print("Columns:")
print(chipo.columns.tolist())

Columns:
['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [ ]:
print("Dataset Indexed as =>",chipo.index)

Dataset Indexed as:: RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [14]:
most_ordered = chipo['item_name'].value_counts().idxmax()
print("Most ordered item is => ", most_ordered)

Most ordered item is =>  Chicken Bowl

### Step 10. For the most-ordered item, how many items were ordered?

In [17]:
most_ordered_count = chipo[chipo['item_name'] == most_ordered]['quantity'].sum()
print(most_ordered_count)

761

### Step 11. What was the most ordered item in the choice_description column?

In [18]:
most_ordered_choice = chipo['choice_description'].value_counts().idxmax()
print("Most ordered choice is => ", most_ordered_choice)

Most ordered choice is =>  [Diet Coke]

### Step 12. How many items were orderd in total?

In [19]:
total_items_ordered = chipo['quantity'].sum()
print("Total items ordered => ",total_items_ordered)

Total items ordered =>  4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [22]:
print("Item price type:", chipo['item_price'].dtype)

Item price type: float64

#### Step 13.b. Create a lambda function and change the type of item price

In [21]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:]))

#### Step 13.c. Check the item price type

In [23]:
print("Updated item price type:", chipo['item_price'].dtype)

Updated item price type: float64

### Step 14. How much was the revenue for the period in the dataset?

In [24]:
revenue = (chipo['quantity'] * chipo['item_price']).sum()
print("Total revenue => ", revenue)

Total revenue =>  39237.02

### Step 15. How many orders were made in the period?

In [25]:
total_orders = chipo['order_id'].nunique()
print("Total orders made => ", total_orders)

Total orders made =>  1834

### Step 16. What is the average revenue amount per order?

In [26]:
average = revenue / total_orders
print("Average Revenue Amount per Order is =>", average)

Average Revenue Amount per Order is => 21.39423118865867

### Step 17. How many different items are sold?

In [27]:
items_sold = chipo['item_name'].nunique()
print("Total different items sold are => ", items_sold )

Total different items sold are =>  50

### Download titanic CSV from internet and read the CSV file

### Step 1. Calculate the total number of missing data in each attribute

In [6]:
import pandas as pd
data = pd.read_csv('titanic.csv')

print(data.head())

missing_data = data.isnull().sum()
print("Total Missing Data in Each Attribute => \n", missing_data)

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
Total Missing Data in Each Attribute =>
 PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

### Step 2. Replace missing values with mean and median

In [8]:
data.fillna(data.mean(numeric_only=True), inplace=True)

print("Missing data after replacing with mean:\n", data.isnull().sum())

Missing data after replacing with mean:
 PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

### Step 3. Replace missing values by category-wise mean (e.g., by gender or other criteria)

In [7]:
data['Age'] = data.groupby('Sex')['Age'].transform(lambda x: x.fillna(x.mean()))
print("Missing data after replacing category-wise mean:\n", data.isnull().sum())

Missing data after replacing category-wise mean:
 PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

### Step 4. Calculate the number of duplicate rows and remove duplicates

In [11]:
duplicates = data.duplicated().sum()
print("Number of duplicate rows =>", duplicates)

titanic_cleaned = data.drop_duplicates()
print(f"Number of rows after removing duplicates =>", titanic_cleaned.shape[0])

Number of duplicate rows => 0
Number of rows after removing duplicates => 891

Good Job